@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --violet-color: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --light-font-weight: 400;
    --heavy-font-weight: 700;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(./images/bg-desktop.svg) no-repeat center center fixed;
    background-size: cover;
    background-color: var(--violet-color);
}
 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    translate: 0% 10%;
    padding: 2em;
    max-height: 100vh;
    max-width: 100%;
 }

.main-logo{
    display: flex;
    margin-bottom: 50px;
    align-self: start;
    margin-left: 12em;
}

.intro {
    display: flex; 
    max-width: 80%;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3em;
    gap: 1.3em;
    translate: 0% -10%;
}

.content h2{
    color: white;
    font-size: 3em;
   
}

.content p{
    color: white;
    margin-top: 1rem;
    text-align: left;
    font-size: 1.3em;
    opacity: 80%;
}

.btn-register{
    border-style: none;
    border-color: white;
    padding: 12px 55px;
    border-radius: 50px;
    margin-top: 20px;
    color: var(--violet-color);
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
}

.btn-register:hover{
    background-color: var(--soft-magenta);
    color: white;  
    transition: all ease-in-out 0.6s;
}

.socials {
    font-size: 3.4rem;
    gap: 25px;
    align-self: end;
    margin-right: 100px;
    
}

.socials a {
    color: white;
}

.socials a:hover{
    transition: all ease-in 0.3s;
    color: var(--soft-magenta);
}

@media screen and (max-width: 900px){

    body{
        background: url(./images/bg-mobile.svg) no-repeat center center fixed;
        background-color: var(--violet-color);
        background-size: cover;
        transition: all ease-in-out 0.6s;
    }

    .container{
        padding: 3em;
        margin: 0 auto;
        transition: all ease-in-out 0.6s;
    }

    .main-logo{
        display: flex;
        align-self: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .main-logo img{
        max-width: 50%;
        display: flex;
        align-self: center;
    }

    .intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .illustration img{
        max-width:70%;
        align-self: center;
    }

    .content{
        margin-top: 20px;
        font-size: 50%;
    }

    .content p{
        font-size: 14px;
        width: 100%;
        margin-left: 0;
    }
    .btn-register{
        align-self: center;
    }

    .socials{
        font-size: 2em;
        align-self: center;
    }

    .socials a:hover{
        color: var(--soft-magenta);
    }
}
