@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --violet-color: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --light-font-weight: 400;
    --heavy-font-weight: 700;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(./images/bg-desktop.svg) no-repeat center center fixed;
    background-size: cover;
    background-color: var(--violet-color);
}

main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
    padding: 7em;
    overflow: hidden;
}

.logo{
    display: flex;
    margin-bottom: 60px;
}

.intro {
    /* border: 4px solid white; */
    display: flex; 
    max-width: 80%;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3em;
}

.content h2{
    color: white;
    font-size: 2em;
   
}

.content p{
    color: white;
    margin-top: 1rem;
    text-align: left;
    
}

.btn-register{
    border-style: none;
    border-color: white;
    padding: 12px 55px;
    border-radius: 50px;
    margin-top: 20px;
    color: var(--violet-color);
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
}

.btn-register:hover{
    background-color: var(--soft-magenta);
    color: white;  
}

.socials {
    font-size: 3.4rem;
    /* translate: 255% 0%; */
    gap: 25px;
    align-self: flex-end;
    
}

.socials a {
    color: white;
}

.socials a:hover{
    color: var(--soft-magenta);
}

@media screen and (max-width: 900px){

    body{
        background: url(./images/bg-mobile.svg) no-repeat center center fixed;
        background-color: var(--violet-color);
        background-size: cover;
        margin: 1rem;
        position: absolute;
    }

    main{
        max-width: max-content;
    }

    .logo{
        display: flex;
        align-self: flex-start;
        margin-bottom: 20px;
    }

    .logo img{
        max-width: 50%;
    }

    .intro{
        display: grid;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .illustration img{
        max-width:80%;
    }

    .content p{
        font-size: 14px;
    }

    .socials{
        font-size: 2em;
        align-self: flex-start;
    }

    .socials a:hover{
        color: var(--soft-magenta);
    }
}
